@charset "utf-8";
/* CSS Document */

 /* header */
.mth{
	margin-top: 1%;
	margin-bottom: 1%;
}
.clh{
	background-color: rgba(109,162,255,1.00);
	border-radius: 10px;
}
.ice{
	padding: 8px;

}
.mf{
	margin-top: 0.5%;


}

/* Menu */
 /* elemmentos de la lista */

li.mn1{
	background-color:rgba(255,165,0,1.00);
 	margin-bottom:-1px;
 	
}
li.mn2{
	background-color: rgba(255,215,0,1.00);
	margin-bottom: -1px;
	margin-top: -1px;
}
li.mn3{
	background-color:rgba(109,162,255,1.00);
 	margin-bottom: -1px;
 	margin-top: -1px;
}
li.mn4{
	background-color:rgba(62,66,255,1.00);
 	margin-bottom: -1px;
 	margin-top: -1px;
}
li.mn5{
	background-color:rgba(27,42,99,1.00);
 	margin-top: -1px;
}
img.icn{
	display: block;
	background-color: rgba(255,255,255,0.15);
	width: 75px;
	padding: 10px;/*aqui se le da el tamaño a la sombra alrededor del icono*/
	border-radius: 50%;/*aqui la forma circular*/
	box-shadow: 0px 0px 0px 15px rgba(255,255,255,0);  /*aqui se delimita el tamaño de la animacion*/
	-webkit-transition: box-shadow 0.4s; /*aqui cuanto dura la trancicion*/	
	-moz-transition: box-shadow 0.4s;
	}
p.txtm  {
	font size:1em;
	text-decoration: none;
	opacity: 0.6;
	
}
 /* caracteristicas en comun */
  .rl{
  position: relative;
  display: block;
  padding: 5px 10px;
}
li.rl:hover /* hace que al ser seleccionado un elemento li que posea la clase rl aumente el tamaño*/{
	min-height: 146px;
	-webkit-transition-duration:0.4s;
	-moz-transition-duration:0.4s;

}
li.rl:hover p.txtm  /* esto aclara el texto que este en <p> que posea la clase txtm y ademas hace el pading al ser seleccionado*/{
	padding-top: 27px;	
	opacity:1;
	-webkit-transition-duration:0.4s;
	-moz-transition-duration:0.4s;
	
	}
li.rl:hover img.icn {
	box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
	}
.rl img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 0.155555%;
}

.rl:first-child{
	border-top-left-radius: 4px;
	border-top-right-radius:4px;

}
.rl:last-child{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px; 

}
.txtm  {
	border-top-left-radius: 4px;
	border-top-right-radius:4px;
	
}

.txtm a {
	text-decoration: none;
	color:#F5F5F5;	
}
/* footer */
.footer{
	background: #221E1F;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 100%
}
/* thumbnails del index */

.imt{
	border-radius: 5px 5px 5px 5px;
	height:173; 
	width:137;

}
.imt:hover{
	opacity:0.6;
}
.tmt{
	max-height: 75%;
}
/*inmenu social bar */

.social {
	margin-top: 1.5%;
	display: block;
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
	margin-left:0px;
}
.social ul {
	list-style: none;
}
.social ul li.colr1 {
	background: #4862A3;
}
.social ul li.colr2 {
	background: #5EA9DD;
}
.social ul li.colr3 {
	background: #6A453C;
}
.social ul li a{
color: White;
text-decoration: none;
opacity: 0.6;

}
.social ul li{
-moz-transition-duration:0.8s;
-webkit-transition-duration:0.8s;
}
.social ul li:hover {
padding-right: 1%;
background-color: #000;
min-width: 200px;

}
.social ul li a:hover {
opacity: 1;
}
div.social.col-md-6{
	padding-left:0;
}

/*nabar del contenido*/
.nabc p {
	color: White;
}
.nabc a{
text-decoration: none;
margin-right: auto;
	margin-left: auto;

}
/*modlr*/
.clhm{
	background-color: rgba(109,162,255,1.00); 
	color: black;
}
